<section>
  <div class="product">
    <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
    <div class="description">
      <h3>Kitesurf rental yellow pages Bariloche</h3>
      <h5>$5.00</h5>
    </div>
  </div>
</section>
